---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import { SITE_TITLE, SITE_DESCRIPTION, LINKEDIN_URL, EMAIL } from "../consts";
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
		<style>
			.image-container {
				float: right;
				margin-top: 0rem;
				margin-left: 1.5rem;
				text-align: center;
			}

			.circle-image {
				--circle-image-size: 10rem;
				width: var(--circle-image-size);
				height: var(--circle-image-size);
				border-radius: 50%;
				object-fit: cover;
			}

			figcaption {
				font-size: 0.9rem;
				margin-top: 0.5rem;
				color: #555;
			}

			.checklist {
				list-style: none;
				padding: 0;
			}

			.checklist li {
				position: relative;
				padding-left: 1.7rem;
				margin-left: 1rem;
				margin-bottom: 0.6rem;
			}

			.checklist li::before {
				content: "✔";
				position: absolute;
				left: 0;
				color: green;
				font-size: 1.2rem;
			}
		</style>
	</head>
	<body>
		<Header />
		<main>
			<h1>Hello, I’m Jacek!</h1>
			<p>
				<figure class="image-container">
					<img
						src="/about-me/me.webp"
						alt="Jacek Lipiec"
						class="circle-image"
					/>
					<figcaption>Jacek Lipiec</figcaption>
				</figure>
				I’m an engineering leader with a knack for building and guiding teams
				that get things done. I’m all about outcome-driven design and believe
				in creating a collaborative, inclusive, and diverse Agile culture,
				where continuous learning and improvement are just part of the deal.
			</p>
			<p><strong>Quick Facts:</strong></p>
			<p>
				<ul class="checklist">
					<li>
						Current Role: Architecture and Organization Consultant
						at Bluesoft
					</li>
					<li>
						Past Experience: Engineering Manager, Architect, Team
						and Technical Lead, Software Developer and a part-time
						Scrum Master
					</li>
					<li>
						Tech Skills: DDD, DevOps, Reactive programming, Object
						Oriented programming, Functional programming,
						Microservices, Microfrontends
					</li>
					<li>
						Connect: Find me on <a href={LINKEDIN_URL}>LinkedIn</a> or
						shoot me an <a href={"mailto:" + EMAIL}>email</a>
					</li>
				</ul>
			</p>
			<p>Let’s connect and chat about all things tech!</p>
		</main>
		<Footer />
	</body>
</html>
